<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mudinha - Login</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <svg class="leaf-logo" viewBox="0 0 320 420" xmlns="http://www.w3.org/2000/svg">
                <!-- Main large leaf -->
                <path d="M 40 30 Q 20 50 20 80 Q 20 180 80 250 Q 140 320 220 340 Q 250 350 280 340 Q 300 330 300 300 Q 300 200 240 120 Q 180 40 100 20 Q 60 10 40 30 Z" 
                      fill="none" stroke="white" stroke-width="20"/>
                
                <!-- Leaf vein -->
                <path d="M 110 170 Q 150 200 200 230" 
                      fill="none" stroke="white" stroke-width="18" stroke-linecap="round"/>
                
                <!-- Stem -->
                <path d="M 270 340 L 290 380" 
                      fill="none" stroke="white" stroke-width="16" stroke-linecap="round"/>
                
                <!-- Small leaf -->
                <path d="M 200 320 Q 180 340 190 370 Q 200 400 230 410 Q 260 415 280 400 Q 295 385 290 360 Q 285 335 260 320 Q 235 310 200 320 Z" 
                      fill="none" stroke="white" stroke-width="14"/>
                
                <!-- Small leaf inner detail -->
                <path d="M 230 350 Q 245 365 260 375" 
                      fill="none" stroke="white" stroke-width="10" stroke-linecap="round"/>
            </svg>
            
            <h1 class="brand-name">Mudinha</h1>
        </div>
        
        <div class="form-container">
            <div class="input-wrapper">
                <div class="input-icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </div>
                <ion-input placeholder="Email" type="email"></ion-input>
            </div>
            
            <div class="input-wrapper">
                <div class="input-icon">
                    <ion-icon name="key-outline"></ion-icon>
                </div>
                <ion-input placeholder="Senha" type="password"></ion-input>
            </div>
            
            <div class="forgot-password">
                <a href="#">Esqueceu sua senha?</a>
            </div>
            
            <div class="button-group">
                <ion-button>
                    <ion-icon slot="start" name="person-add-outline"></ion-icon>
                    Cadastrar
                </ion-button>
                <ion-button>
                    <ion-icon slot="start" name="log-in-outline"></ion-icon>
                    Acessar
                </ion-button>
            </div>
        </div>
    </div>
</body>
</html>