<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plants" href="/tabs/plants">
      <ion-icon aria-hidden="true" name="leaf-outline"></ion-icon>
      <ion-label>Minhas Plantas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="care" href="/tabs/care">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>Cuidados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marketplace" href="/tabs/marketplace">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Comprar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personal-info" href="/tabs/personal-info">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
