<ion-header>
  <ion-toolbar>
    <div class="profile-container" slot="start">
      <ion-avatar>
        <img src="https://placehold.co/80x80/7ed321/000?text=U" alt="User Avatar"/>
      </ion-avatar>
      <span class="profile-name">Usuário</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="personal-info-container">
    <div class="info-section">
      <h2 class="section-title">Informações Pessoais</h2>
      <div class="info-list">
        <div class="info-item">
          <ion-icon name="person-outline" class="info-icon"></ion-icon>
          <div class="info-content">
            <div class="info-label">Nome</div>
            <div class="info-value">Usuário</div>
          </div>
        </div>
        <div class="info-item">
          <ion-icon name="mail-outline" class="info-icon"></ion-icon>
          <div class="info-content">
            <div class="info-label">Email</div>
            <div class="info-value">usuario&#64;exemplo.com</div>
          </div>
        </div>
        <div class="info-item">
          <ion-icon name="call-outline" class="info-icon"></ion-icon>
          <div class="info-content">
            <div class="info-label">Telefone</div>
            <div class="info-value">(00) 00000-0000</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="button-section">
      <ion-button class="edit-button">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Editar Perfil
      </ion-button>
      <ion-button class="logout-button">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Sair
      </ion-button>
    </div>
  </div>
</ion-content>