<ion-header>
  <ion-toolbar>
    <div class="profile-container" slot="start">
      <ion-avatar>
        <img src="https://placehold.co/80x80/7ed321/000?text=U" alt="User Avatar"/>
      </ion-avatar>
      <span class="profile-name">Usuário</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="gallery-content">
    <div class="grid-container">
      <div class="plant-item">
        <div class="plant-image plant-1"></div>
        <ion-button class="plant-button">Rosa</ion-button>
      </div>
      <div class="plant-item">
        <div class="plant-image plant-2"></div>
        <ion-button class="plant-button">Violeta</ion-button>
      </div>
      <div class="plant-item">
        <div class="plant-image plant-3"></div>
        <ion-button class="plant-button">Cravo</ion-button>
      </div>
      <div class="plant-item">
        <div class="plant-image plant-4"></div>
        <ion-button class="plant-button">Girassol</ion-button>
      </div>
      <div class="plant-item">
        <div class="plant-image plant-5"></div>
        <ion-button class="plant-button">Samambaia</ion-button>
      </div>
      <div class="plant-item">
        <div class="plant-image plant-6"></div>
        <ion-button class="plant-button">Cacto</ion-button>
      </div>
      <div class="plant-item">
        <div class="plant-image plant-7"></div>
        <ion-button class="plant-button">Orquídea</ion-button>
      </div>
      <div class="plant-item">
        <div class="plant-image plant-8"></div>
        <ion-button class="plant-button">Tulipa</ion-button>
      </div>
      <div class="plant-item">
        <div class="plant-image plant-9"></div>
        <ion-button class="plant-button">Lavanda</ion-button>
      </div>
    </div>
    <div class="bottom-section">
      <button class="add-button">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
