<ion-header>
  <ion-toolbar>
    <div class="profile-container" slot="start">
      <ion-avatar>
        <img src="https://placehold.co/80x80/7ed321/000?text=U" alt="User Avatar"/>
      </ion-avatar>
      <span class="profile-name">Usuário</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-container">
    <img src="assets/flower_login.png" alt="Logo" class="home-logo" 
         onerror="this.onerror=null;this.src='https://placehold.co/220x280/7ed321/000?text=Mudinha';">
    <h2 class="welcome-text">Bem-vindo(a) ao Mudinha!</h2>
  </div>
</ion-content>
